body {
    padding-top: 60px;
    padding-bottom: 40px;
    /*font-size:13px;*/
    
}

    
.container-narrow {
    margin: 0 auto;
    max-width: 910px;

}
.container-narrow > hr {
    margin: 20px 0;
}

.report-title {
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 8px;
}
.report-subtitle {
    font-size: 16px;
    margin-bottom: 6px;
}

/* CSS Document */

